<div class="header">
    <button mat-mini-fab color="" (click)="sidebarExpand()">
        <mat-icon>menu</mat-icon>
    </button>
 
    <a routerLink="/" class="header-logo">System CRM</a>
  

    <div class="header-username-container">
        <small class="header-username">{{ tokenData.user_name }}</small>

        <button mat-flat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            SAIR
        </button>
    </div>
</div>

<div class="sidebar-bg" id="sidebarBg" (click)="sidebarExpand()"></div>
<div class="sidebar" id="sidebar">

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeSidebar()">
        <div class="sidebar-link-icon">
            <mat-icon>dashboarding</mat-icon>
        </div>
        <div class="sidebar-link-text">
            Dashboard
        </div>
    </a>
    <a routerLink="/usuarios" routerLinkActive="active" *ngIf="hasAnyRoles().includes('ROLE_ADMIN')" (click)="closeSidebar()">
        <div class="sidebar-link-icon">
            <mat-icon>manage_accounts</mat-icon>
        </div>
        <div class="sidebar-link-text">
            Usuários
        </div>
    </a>
    <a routerLink="/clientes" routerLinkActive="active" *ngIf="hasAnyRoles().includes('ROLE_OPERATOR')" (click)="closeSidebar()">
        <div class="sidebar-link-icon">
            <mat-icon>assignment_turned_in</mat-icon>
        </div>
        <div class="sidebar-link-text">
            Clientes
        </div>
    </a>
    <a routerLink="/produtos" routerLinkActive="active"  (click)="closeSidebar()">
        <div class="sidebar-link-icon">
            <mat-icon>widgets</mat-icon>
        </div>
        <div class="sidebar-link-text">
            Produtos
        </div>
    </a>
    <a href="#" (click)="closeSidebar()">
        <div class="sidebar-link-icon">
            <mat-icon>settings</mat-icon>
        </div>
        <div class="sidebar-link-text">
            Meus dados
        </div>
    </a>
</div>
<div class="content" id="content">
    <router-outlet></router-outlet>
</div>
