<div class="container">
    <div class="page-title">
        <h1>Usuários</h1>
        <button mat-flat-button color="accent" routerLink="/usuarios/cadastrar">
            <mat-icon>add</mat-icon>
            Novo
        </button>
    </div>

    <mat-form-field appearance="outline" class="search-input">
        <mat-label>Pesquisar pela categoria:</mat-label>
        <mat-select (selectionChange)="search($event.value)">
            <mat-option [value]="0">Todas as categorias</mat-option>
            <mat-option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <div *ngIf="totalElements === 0 && progressBar === false">
        <h1>Nenhum resultado encontrado</h1>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>

    <div class="table-container" *ngIf="totalElements > 0">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nome do produto</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products">
                    <td>{{ p.id }}</td>
                    <td>
                        <img src="{{ p.imgBase64 }}" alt="{{ p.name }}" width="50">
                    </td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.price | currency: 'BRL' }}</td>
                    <td><span class="info">{{ p.category.name }}</span></td>
                    <td>
                        <button type="button" mat-icon-button color="primary" routerLink="/produtos/editar/{{ p.id }}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" mat-icon-button color="warn" routerLink="/produtos/excluir/{{ p.id }}">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <mat-paginator *ngIf="totalElements > 0" [length]="totalElements" [pageSize]="size"
        [pageSizeOptions]="[1, 5, 10, 25, 100]" showFirstLastButtons (page)="paginate($event)">
    </mat-paginator>
</div>