<div class="auth-container">
   
    <div class="auth-header">
        System CRM
    </div>

    <div class="auth-content">
        
        <div class="auth-title">
            <h1>Esqueci minha senha</h1>
            <small>Insira seu email de cadastro, e se o email for válido enviaremos um código para criar a nova senha.</small>
        </div>

        <form (ngSubmit)="submit()" #form="ngForm">
            <mat-form-field class="base-input" appearance="outline">
                <mat-label>Email:</mat-label>
                <input matInput type="email" name="email" [(ngModel)]="forgotPassword.email" required email>
            </mat-form-field>

            <div class="auth-btn-container">

                <a routerLink="/login" class="forgot-password-link">
                    Login
                </a>

                <div [hidden]="loader">
                    <button mat-flat-button color="primary" [disabled]="!form.valid">
                        <mat-icon>send</mat-icon>
                        Enviar
                    </button>
                </div>
                
                <div *ngIf="loader" style="text-align: center;">
                    <strong>Carregando...</strong>
                </div>
            </div>
            
        </form>
    </div>
</div>
