<div class="container">
    <div class="page-title">
        <h1>Editar cliente</h1>
        <button mat-flat-button color="accent" routerLink="/clientes">
            <mat-icon>arrow_back</mat-icon>
            Votlar
        </button>
    </div>

    <div class="form-container">
        <form (ngSubmit)="update()" #form="ngForm">

            <mat-form-field appearance="outline" class="base-input">
                <mat-label>Nome:</mat-label>
                <input matInput type="text" [(ngModel)]="customer.firstName" name="firstName" #validation="ngModel"
                    required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="base-input">
                <mat-label>Sobrenome:</mat-label>
                <input matInput type="text" [(ngModel)]="customer.lastName" name="lastName" #validation="ngModel"
                    required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="base-input">
                <mat-label>CPF:</mat-label>
                <input matInput type="text" [(ngModel)]="customer.cpf" name="cpf" #validation="ngModel"
                    mask="000.000.000-00" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="base-input">
                <mat-label>Data de nascimento:</mat-label>
                <input matInput type="date" [(ngModel)]="customer.birthDate" name="birthDate" #validation="ngModel"
                    required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="base-input">
                <mat-label>Email:</mat-label>
                <input matInput type="email" [(ngModel)]="customer.email" name="email" #validation="ngModel" email
                    required>
            </mat-form-field>


            <div [hidden]="loader">
                <button mat-flat-button color="primary" class="auth-button" [disabled]="!form.valid">
                    <mat-icon>save</mat-icon>
                    Salvar
                </button>
            </div>

            <div *ngIf="loader">
                <button mat-flat-button color="primary" class="auth-button" type="button" disabled>
                    Carregando...
                </button>
            </div>
        </form>
    </div>
</div>