<div class="page-title">
    <div>
        <h1>System CRM</h1>
        <p>Sistema para gestão de usuários, clientes e produtos.</p>
    </div>
</div>

<p><strong>Informações do usuário logado:</strong></p>
<small><strong>Nome:</strong> {{ tokenDataAdditionaInfo.userFirstName}}</small> <br>
<small><strong>Sobrenome:</strong> {{ tokenDataAdditionaInfo.userLastName}}</small> <br>
<small><strong>Email:</strong> {{ tokenData.user_name}}</small> <br>
<small><strong>User ID:</strong> {{ tokenDataAdditionaInfo.userId}}</small> <br>
<small><strong>Perfis:</strong> {{ tokenData.authorities}} </small> <br>
