@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-blue, A700);
$custom-app-secondary: mat-palette($mat-gray, 600);
$custom-app-warn: mat-palette($mat-red, A700);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

:root {
    --primary-color: #2962FF;
    --secondary-color: #757575;
    --warn-color: #D50000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fafafa !important;
}

.base-input {
    width: 100%;
    font-size: 12px;
}

.search-input {
    width: 250px; 
    font-size: 12px;
}

.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-header {
    width: 100%;
    height: 80px;
    background: var(--primary-color);
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

.auth-content {
    width: 400px;
    max-width: 100%;
    height: auto;
    padding: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.auth-title {
    margin-bottom: 40px;
    color: var(--secondary-color);
    text-align: center;
}

.auth-btn-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot-password-link {
    color: var(--primary-color);
    font-size: 12px;
    text-decoration: none;
}

.forgot-password-link:hover {
    opacity: 0.6;
}

.container {
    border-radius: 4px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.container ul {
    list-style: none;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 10px;
}

table tr {
    height: 50px;
    border-bottom: 1px solid #ccc;
}

table tbody tr td {
    font-size: 12px;
}

table tbody tr:hover {
    background: #eee;
}

table tr th, td {
    padding: 0 10px 0 10px;
}

.info {
    font-size: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 4px;
}

.form-container {
    width: 100%;
    height: auto;
    padding: 0 80px 0 80px;
}

.base-card {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #eee;
}

.page-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.page-title h1 {
    margin-bottom: 0%;
}

.header {
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

.header-logo {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
}

.header-username-container {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-username {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

.sidebar-bg {
    width: 100%;
    height: 100vh;
    background: #ccc;
    display: none;
    opacity: 0.4;
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #ccc;
    padding-top: 60px;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
}

.sidebar-expand {
    display: none;
}

.sidebar a {
    text-decoration: none;
    display: flex;
    color: var(--secondary-color);
}

.sidebar-link-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.sidebar-link-text {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.sidebar a:hover {
    background: #eee;
  
}

.active {
    background: #eee;
  
}

.content {
    margin: 70px 10px 10px 260px;
}

.content-expand {
    margin: 70px 10px 10px 10px;
}

@media(max-width: 768px) {

    table thead {
        display: none;
    }

    table tr {
        height: auto;
        background: #eee;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    table tr td {
        padding: 10px;
    }

    .form-container {
        padding: 0 10px 0 10px;
    }

    .sidebar-bg-expand {
        display: unset;
    }

    .sidebar {
        display: none;
    }

    .sidebar-expand {
        display: unset;
    }

    .content {
        margin: 70px 10px 10px 10px;
    }
}

@media(max-width: 576px) {

    .page-title {
        align-items: flex-start;
        flex-direction: column;
        height: auto;
    }

    .page-title button {
        margin-bottom: 10px;
    }

    .search-input {
        width: 230px;
    }

    .header-logo {
        display: none;
    }

    .header-username {
        display: none;
    }
}