<div class="page-title">
    <h1>Editar usuário</h1>
    <button mat-flat-button color="accent" routerLink="/usuarios">
        <mat-icon>arrow_back</mat-icon>
        Votlar
    </button>
</div>

<div class="form-container">
    <form (ngSubmit)="update()" #form="ngForm">

        <mat-form-field appearance="outline" class="base-input">
            <mat-label>Email:</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" name="email" #validation="ngModel" required>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="base-input">
            <mat-label>Nome:</mat-label>
            <input matInput type="text" [(ngModel)]="user.firstName" name="firstName" #validation="ngModel" required>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="base-input">
            <mat-label>Sobrenome:</mat-label>
            <input matInput type="text" [(ngModel)]="user.lastName" name="lastName" #validation="ngModel" required>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="base-input">
            <mat-label>Perfil</mat-label>
            <mat-select multiple [compareWith]="compareUserRoleAndRole" [(ngModel)]="user.roles" name="roles" #validation="ngModel" required>
                <mat-option *ngFor="let r of roles" [value]="r">{{ formatRole(r.authority) }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div [hidden]="loader">
            <button mat-flat-button color="primary" class="auth-button" [disabled]="!form.valid">
                <mat-icon>save</mat-icon>
                Salvar
            </button>
        </div>
    
        <div *ngIf="loader">
            <button mat-flat-button color="primary" class="auth-button" type="button" disabled  >
                Carregando...
            </button>
        </div>
    </form>
</div>